@use "./abstractions/abstraction" as *;
@use "./style-reset/reset" as *;
@use "./compenents/content" as *;
@use "./compenents/rating" as *;
@use "./compenents/reveiws" as *;
@use "./compenents/header" as *;
@use "./utilities/utilitie" as *;



