:root {
        --primary-color-600: hsl(300, 43%, 22%);
        --primary-color-300: hsl(333, 80%, 67%);
    
        --neutral-color-600: hsl(303, 10%, 53%);
        --neutral-color-300: hsl(300, 24%, 96%);
        --neutral-white-color: hsl(0, 0%, 100%);

        --ff-primary: 'League Spartan', sans-serif;
        --fs-400: 0.8125rem;
        --fs-500: 0.9375rem;
        --fs-700: 2rem;

        @media (min-width: 400px) {
            --fs-700: 3rem;
        }
}