main .content {
    text-align: center;
    .header {
        text-align: inherit;
        margin-top: 5rem;
        padding: 1rem 3rem;
        color: var(--primary-color-600);
        font-size: var(--fs-700);
}
    > p {
        text-align: inherit;
        padding: 0 2rem;
        color: var(--primary-color-600);
        font-size: var(--fs-500);
        line-height: 1rem;
}
}
@media (min-width: 770px) {
    main .content {
        text-align: initial;
        .header {
            margin-top: 0;
            padding: 0;
        }
        p {
            margin-top: 0.5rem;
            padding: 0;
        }
    }
}